@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --color1: #213e56;
  --color2: #afbbc5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 64.5%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: currentColor;
}

::selection {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
